{% extends 'base.html.twig' %}
{% form_theme form_filter 'bootstrap_3_layout.html.twig' %}
{% block body %}
    
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li class="active"><a href="{{path('movimientostock_index')}}">Movimientos de Stock</a></li>
</ol>

<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Listado de Movimientos</div>
        <div class="panel-body">
            <table class="table">
        <thead>
            <tr>
                
                <th>Producto</th>
                <th>Ingreso</th>
                <th>Egreso</th>
                <th>Stock Actual</th>
            </tr>
        </thead>
        <tbody>
            
        {% for movimientostock in pagination %}
            <tr>
                <td>{{ movimientostock.nombre }}</td>
                <td>{{ movimientostock.ingreso }}</td>
                <td>{{ movimientostock.egreso }}</td>
                <td>{{ movimientostock.ingreso - movimientostock.egreso }}</td>
                
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
   
    <a href="{{ path('movimientostock_new') }}">Nuevo</a>
    </div>
    </div>
    </div>  
      
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Filtros</h3>
          </div>

          <div class="panel-body">
               {{ form(form_filter, {'attr': {'novalidate': 'novalidate'}}) }}
          </div>
        </div>
    </div>
          
          
    </div>
    

        
{% endblock %}
