{% extends 'base.html.twig' %}
{% form_theme form_filter 'bootstrap_3_layout.html.twig' %}
{% block body %}
    
<ol class="breadcrumb">
  <li><a href="{{path('homepage')}}">Inicio</a></li>
  <li class="active"><a href="{{path('movimientostock_index')}}">Movimientos de Stock</a></li>
</ol>

<div class="row">    
    <div class="col-xs-12 col-sm-9 col-lg-9">
    <div class="panel panel-default">
        <div class="panel-heading">Listado de Movimientos</div>
        <div class="panel-body">
            <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Cantidad</th>
                <th>Nrocomprobante</th>
                <th>Tipomovimiento</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movimientostock in pagination %}
            <tr>
                <td><a href="{{ path('movimientostock_show', { 'id': movimientostock.id }) }}">{{ movimientostock.id }}</a></td>
                <td>{% if movimientostock.fecha %}{{ movimientostock.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ movimientostock.cantidad }}</td>
                <td>{{ movimientostock.nrocomprobante }}</td>
                <td>{{ movimientostock.tipomovimiento }}</td>
                <td>
                  
                            <a href="{{ path('movimientostock_show', { 'id': movimientostock.id }) }}" class="btn btn-default">Ver</a>
                      
                            <a href="{{ path('movimientostock_edit', { 'id': movimientostock.id }) }}" class="btn btn-primary">Editar</a>
                     
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
   
    <a href="{{ path('movimientostock_new') }}">Nuevo</a>
    </div>
    </div>
    </div>  
      
    <div class="col-xs-12 col-sm-3 col-lg-3">
        <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">Filtros</h3>
          </div>

          <div class="panel-body">
               {{ form(form_filter, {'attr': {'novalidate': 'novalidate'}}) }}
          </div>
        </div>
    </div>
          
          
    </div>
    

        
{% endblock %}
