{% extends 'base.html.twig' %}
{% block body %}
    <h3>Clientes Listado</h3>

    <table class="table">
        <thead>
            <tr>
                <strong>Total: </strong>{{ pagination.getTotalItemCount }}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'm.id') }}</th>
                <th>Razon social</th>
                <th>Contacto</th>
                <th>Tipo.Doc.</th>
                <th>Num.Doc.</th>
                <th>Telefono</th>
                <th>Email</th>
                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in pagination %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': cliente.id }) }}">{{ cliente.id }}</a></td>
                <td>{{ cliente.razonsocial }}</td>
                <td>{{ cliente.contacto }}</td>
                <td>{{ cliente.tipodocumento }}</td>
                <td>{{ cliente.ndoc }}</td>
                <td>{{ cliente.telefono }}</td>
                <td>{{ cliente.email }}</td>

                <td>
                   
                            <a href="{{ path('cliente_show', { 'id': cliente.id }) }}" class="btn btn-default">Ver</a>
                       
                            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}" class="btn btn-primary" >Editar</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
            <a href="{{ path('cliente_new') }}" class="btn btn-success">Nuevo</a>
    
{% endblock %}
