{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>Razon social</th>
                <td>{{ cliente.razonsocial }}</td>
            </tr>
            <tr>
                <th>Contacto</th>
                <td>{{ cliente.contacto }}</td>
            </tr>
            <tr>
                <th>Tipo Doc.</th>
                <td>{{ cliente.tipodocumento.nombre }}</td>
            </tr>
            <tr>
                <th>Num. doc</th>
                <td>{{ cliente.ndoc }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ cliente.email }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.direccion }}</td>
            </tr>
            <tr>
                <th>Web</th>
                <td>{{ cliente.web }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cliente_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
