{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hojarutas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Diaid</th>
                <th>Titulo</th>
                <th>Notas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hojarutum in hojarutas %}
            <tr>
                <td><a href="{{ path('hojaruta_show', { 'id': hojarutum.id }) }}">{{ hojarutum.id }}</a></td>
                <td>{{ hojarutum.diaId }}</td>
                <td>{{ hojarutum.titulo }}</td>
                <td>{{ hojarutum.notas }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hojaruta_show', { 'id': hojarutum.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('hojaruta_edit', { 'id': hojarutum.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('hojaruta_new') }}">Create a new hojarutum</a>
        </li>
    </ul>
{% endblock %}
