{% extends 'base.html.twig' %}

{% block body %}
    <h3>Hoja de rutas</h3>

    <table class="table">
        <thead>
            <tr>
               <strong>Total: </strong>{{ pagination.getTotalItemCount }}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'm.id') }}</th>
                <th>Diaid</th>
                <th>Titulo</th>
                <th>Notas</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hojarutum in pagination %}
            <tr>
                <td><a href="{{ path('hojaruta_show', { 'id': hojarutum.id }) }}">{{ hojarutum.id }}</a></td>
                <td>{{ hojarutum.diaId }}</td>
                <td>{{ hojarutum.titulo }}</td>
                <td>{{ hojarutum.notas }}</td>
                <td>
                   
                        <a href="{{ path('hojarutadetalle_new', { 'hojaruta_id': hojarutum.id }) }}"class="btn btn-success">Consultar/Editar</a>
                        <a href="{{ path('hojaruta_delete', { 'id': hojarutum.id }) }}" class="btn btn-danger" >Eliminar</a>
                    
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <a href="{{ path('hojaruta_new') }}"class="btn btn-primary">Nuevo</a>
    
{% endblock %}
