{% extends 'base.html.twig' %}

{% block body %}
    <h3>Empleados</h3>

    <table class="table">
        <thead>
            <tr>
                <strong>Total: </strong>{{ pagination.getTotalItemCount }}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'm.id') }}</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Ndoc</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Tipo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in pagination %}
            <tr>
                <td><a href="{{ path('empleado_show', { 'id': empleado.id }) }}">{{ empleado.id }}</a></td>
                <td>{{ empleado.nombre }}</td>
                <td>{{ empleado.apellido }}</td>
                <td>{{ empleado.ndoc }}</td>
                <td>{{ empleado.direccion }}</td>
                <td>{{ empleado.telefono }}</td>
                <td>{{ empleado.tipo }}</td>
                <td>
                   
                            <a href="{{ path('empleado_show', { 'id': empleado.id }) }}" class="btn btn-default">Ver</a>
                       
                            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}" class="btn btn-primary" >Editar</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
  
    <a href="{{ path('empleado_new') }}">Create a new empleado</a>
        
{% endblock %}
