{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marcas list</h1>

    <table class="table">
        <thead>
            <tr>
                <strong>Total: </strong>{{ pagination.getTotalItemCount }}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'm.id') }}</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for marca in pagination %}
            <tr>
                <td><a href="{{ path('marcas_show', { 'id': marca.id }) }}">{{ marca.id }}</a></td>
                <td>{{ marca.nombre }}</td>
                <td>{{ marca.descripcion }}</td>
                <td>{{ marca.imagen }}</td>
                <td>
                    
                            <a href="{{ path('marcas_show', { 'id': marca.id }) }}" class="btn btn-flat btn-default">show</a>
                       
                            <a href="{{ path('marcas_edit', { 'id': marca.id }) }}" class="btn btn-flat btn-primary">edit</a>
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
        
            <a href="{{ path('marcas_new') }}" class="btn btn-flat btn-primary">Nuevo</a>
        
    
{% endblock %}
