{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorias list</h1>

    <table class="table">
        <thead>
            <tr>
                <strong>Total: </strong>{{ pagination.getTotalItemCount }}
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'm.id') }}</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Imagen</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for item in pagination %}
            <tr>
                <td><a href="{{ path('categoria_show', { 'id': item.id }) }}">{{ item.id }}</a></td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.imagen }}</td>
                <td>
                   
                    <a href="{{ path('categoria_show', { 'id': item.id }) }}" class="btn btn-default">Ver</a>
                       
                    <a href="{{ path('categoria_edit', { 'id': item.id }) }}" class="btn btn-primary">Editar</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    <a href="{{ path('categoria_new') }}" class="btn btn-primary">Nuevo</a>
        
    
{% endblock %}
